{% extends "auctions/layout.html" %}

{% block title %}
    Create Listing
{% endblock %}

{% block body %}
    <h2>Create Listing</h2>

    <form action="{% url 'create_listing' %}" method="post" class="form-group" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h5>{{ form.title.label }}</h5>
        {{ form.title }}
        
        <br><h5>{{ form.description.label }}</h5>
        {{ form.description }}

        <br><h5>{{ form.starting_bid.label }}</h5>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            {{ form.starting_bid }}
        </div>

        <br><h5>{{ form.image.label }}</h5>
        <div class="input-group mb-3">
            <div class="custom-file">
                {{ form.image }}
                <label class="custom-file-label">Choose file</label>
            </div>
        </div>
                
        <br><h5>{{ form.category.label }}</h5>
        {{ form.category }}
        
        <br><button type="submit" class="btn btn-primary">Create Listing</button>
    </form> 
{% endblock %}
