{% extends "auctions/layout.html" %}

{% block title %}
    Inactive Listings
{% endblock %}

{% block body%}
    <h2>Inactive Listings</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                {% if user.is_authenticated %}
                    <th>Created by</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for listing in listings %}
                <tr>    
                    <td><a href="{% url 'view_listing' listing.id %}">{{ listing.title }}</a></td>
                    <td>{{ listing.description }}</td>
                    <td><img src="media/{{ listing.image }}" alt="Image not found" style="max-height:300px"></td>
                    {% if user.is_authenticated %}
                        <td>{{ listing.user }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}